# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* We will learn to use Markdown
* We will learn to use basic arithmetic operations.
* Popular Data Science Tools are Watson Studio, IBM Cognos Analytics etc.
* Popular Languages for Data Science are Python, R, Julia etc.
* Popular Libraries are Pandas,Numpy,Matplotlib

Some of the popular languages that Data Scientists use are:

|Serial Number|Name of the Language|
|-------------|--------------------|
|1.|PYTHON|
|2.|R|
|3.|SQL|

|Serial Number|Name of the Library|
|-------------|--------------------|
|1.|Pandas|
|2.|Numpy|
|3.|Matplotlib|
|4.|Seaborn|

|DATA SCIENCE TOOL|
|-------------|
|WATSON STUDIO|
|MICROSOFT POWER BI|
|IBM COGNOS ANALYTICS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Aman Verma